<header class="header">
    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar ftco-navbar-light" id="ftco-navbar">
     <div class="container d-flex align-items-center">
         <a class="navbar-brand" href="#"><img src="assets/images/logo.png" alt=""></a>
             <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation"><span class="oi oi-menu"></span> Menu</button>
       <div class="collapse navbar-collapse" id="ftco-nav">
         <ul class="navbar-nav ml-auto">
   
            <li class="nav-item active"><a routerLink="/AboutUs" class="nav-link">About Us</a></li>
            <!-- <li class="nav-item"><a routerLink="/OurVerticals" class="nav-link">Our Verticals</a></li> -->
            <li class="nav-item dropdown">
              <a class="nav-link page-scroll" href="#" id="navbarDropdownHome" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Our Verticals</a>
              <div class="dropdown-menu submenu" aria-labelledby="navbarDropdownHome">
                  <a class="dropdown-item" routerLink="/OurVerticals">Our Verticals</a>
                 <a class="dropdown-item" routerLink="/OurVerticals">Our Verticals1</a>
              </div>
          </li>
            <li class="nav-item"><a routerLink="/OurPromoter" class="nav-link">Our Promoter</a></li>
            <li class="nav-item"><a routerLink="/Career" class="nav-link">Career</a></li>
            <li class="nav-item"><a routerLink="/ContactUs" class="nav-link">Contact Us</a></li>
           
            <li class="nav-item dropdown">
              <a class="nav-link page-scroll" href="#" id="navbarDropdownHome" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Student Details</a>
              <div class="dropdown-menu submenu" aria-labelledby="navbarDropdownHome">
                  <a routerLink="/create-student" class="dropdown-item">Create Student</a>
                  <a routerLink="/student-list" class="dropdown-item">Student List</a>
              </div>
          </li>
                                 
         </ul>
       </div>
       <div class="myaccounts">
            <a href="javascript:;" type="button" class="btn btn-head">For School</a>
            <ul>
                <li><a routerLink="/login">Login</a></li>
                <li><a routerLink="/register">Register</a></li>
            </ul>
       </div>
     </div>
   </nav>
 </header>