
	<footer class="footer">
		<div class="container">
		   <div class="footer_content">
				<div class="row">
				 <div class="col-lg-4 footer_col">
                   <div class="footer_column_title">About Dalmia Education</div>

						<p class="footer_about_text">In aliquam, augue a gravida rutrum, ante nisl fermentum nulla, vitae tempor nisl ligula vel nunc. Proin quis mi malesuada tempor lacus.</p>
                         

                       <div class="newsletter">
								<div class="row">
									<div class="col">
										<div class="section_title text-left">
											<h4>Subscribe to newsletter</h4>
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col text-center">
										<div class="newsletter_form_container mx-auto">
											<form [formGroup]="subscriptNow">
												<div class="newsletter_form d-flex flex-md-row flex-column flex-xs-column align-items-center justify-content-center">
													<input id="newsletter_email" formControlName="subEmail" class="newsletter_email" type="email" placeholder="Email Address" required="required" data-error="Valid email is required.">
													<button id="newsletter_submit" type="submit" class="newsletter_submit_btn trans_300" value="Submit">Subscribe</button>
												</div>
											</form>
										</div>
									</div>
								</div>

							</div>
					</div>

					<div class="col-lg-4 footer_col">
						<div class="footer_column_title">Quick Menu</div>
						<div class="footer_column_content">
							<ul>
								<li class="footer_list_item"><a href="#">About the Program</a></li>
								<li class="footer_list_item"><a href="#">Our Verticals</a></li>
								<li class="footer_list_item"><a href="#">Our Promoter</a></li>
								<li class="footer_list_item"><a href="#">Workshops</a></li>
								<li class="footer_list_item"><a href="#">Contact Us</a></li>
								<li class="footer_list_item"><a href="#">FAQs</a></li>
							</ul>
						</div>
					</div>

				

					<div class="col-lg-4 footer_col">
						<div class="footer_column_title">Contact</div>
						<div class="footer_column_content">
							<ul>
								
								<li class="footer_contact_item">
									<div class="footer_contact_icon">
										<img src="assets/images/phone.png" alt="">
									</div>
									Toll Free 1800-11-0000
								</li>
								<li class="footer_contact_item">
									<div class="footer_contact_icon">
										<img src="assets/images/email.png" alt="">
									</div>
									<a href="mailto:info@dalmiaeducation.com">info@dalmiaeducation.com</a>
								</li>
							</ul>


							<div class="footer_social ml-sm-auto">
								<h3 class="footer_column_title">Follow Us</h3>
								<ul class="menu_social">
									<li class="menu_social_item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
									<li class="menu_social_item"><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
									<li class="menu_social_item"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
									
									<li class="menu_social_item"><a href="#"><i class="fab fa-twitter"></i></a></li>
								</ul>
							</div>


						</div>
					</div>

				</div>
			</div>
	</div>
			<!-- Footer Copyright -->
         <div class="footer-copy">
           <div class="container"> 	
			<div class="footer_bar d-flex flex-column flex-sm-row align-items-center">
				<div class="footer_copyright">
					<span>Copyright &copy; 2019, DalmiaBiz Education Pvt. Ltd. All rights reserved.</span>
				</div>
				<div class="ml-sm-auto">
					<ul class="footer-right">
						<li class=""><a href="#">Privacy policy</a></li>
						<li class=""><a href="#">Terms of service</a></li>
					</ul>
				</div>
			</div>
		</div>
		</div>	

	
	</footer>