<br/><br/><br/><br/><br/><br/>

<section class="login-wrap mtb-40">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6">
                  <div class="login-box">
                      <h1>Admin Login</h1>
                      <div class="alert alert-danger" *ngIf="Error">
                          {{massage}}
                       </div>
                      <form (ngSubmit)="onSubmit(loginForm)" [formGroup]="loginForm">
                          <div class="form-group">
                              <input type="text" formControlName="email" class="form-control" placeholder="email">
                          </div>
                          <div class="form-group">
                              <input type="password" formControlName="password" class="form-control" placeholder="Password">
                          </div>
                          <div class="form-group">
                              <!-- <a href="dashboard.html" class="btn btn-danger">Log In</a> -->
                              <button type="submit" [disabled]="!loginForm.valid" class="btn btn-primary">Log In</button>
                          </div>
                      </form>
                  </div>         
              </div>
      </div>
    </div>
  </section>
  