<div class="container custom-container">
   <br/><br/><br/><br/><br/><br/>
    <div class="col-md-12">
      <h3 class="mb-3 text-center">Create a new Student</h3>
    
     
      <div class="form-group">
        <input type="text" [(ngModel)]="employeeDetails.title" class="form-control" placeholder="Title">
      </div>
  
      <div class="form-group">
        <input type="text" [(ngModel)]="employeeDetails.description" class="form-control" placeholder="Description">
      </div>
  
      <div class="form-group">
        <input type="text" [(ngModel)]="employeeDetails.meta_title" class="form-control" placeholder="meta_title">
      </div>
      <div class="form-group">
        <input type="text" [(ngModel)]="employeeDetails.meta_description" class="form-control" placeholder="Meta Description">
      </div>
      <div class="form-group">
        <input type="text" [(ngModel)]="employeeDetails.cstatus" class="form-control" placeholder="Customer Status">
      </div>
      <div class="form-group">
        <input type="text" [(ngModel)]="employeeDetails.created_at" class="form-control" placeholder="Created At">
      </div>
      <div class="form-group">
        <input type="text" [(ngModel)]="employeeDetails.updated_at" class="form-control" placeholder="Updated At">
      </div>
      
      <div class="form-group">
        <button class="btn btn-success btn-lg btn-block" (click)="addEmployee()">Create Student</button>
      </div>
  
    </div>
    <br/><br/>
  </div>