<div class="row" style="padding-top: 80px;">
	<div class="col">
		<div id="google_map">
			<div class="map_container">
				<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14013.326191431452!2d77.311643!3d28.5898289!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xee6825dd2d8e0c96!2sDalmia%20BestPrice%20-%20Online%20Store!5e0!3m2!1sen!2sin!4v1573107216477!5m2!1sen!2sin" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
			</div>
		</div>
	</div>
</div>

<div class="breadcum">
	<div class="container">
		<ul>
			<li><a href="#">Home</a></li>
			<li>/</li>
			<li><a href="#">Contact Us</a></li>
		</ul>
	</div>
</div>


<div class="contact">
<div class="container">
<div class="row">
	<div class="col-lg-8">
		
		<!-- Contact Form -->
		<div class="contact_form">
			<div class="contact_title">Get in touch</div>
			 <p>Feel free to share your requirement, concern, response.</p>
			<div class="contact_form_container">
			 <form [formGroup]="contactForm" class="row">
				   <div class="col-md-6">
					  <input formControlName="name" class="input_field" type="text" placeholder="Name" required="required" data-error="Name is required.">
				   </div>
				   <div class="col-md-6">
					  <input formControlName="email" class="input_field" type="email" placeholder="E-mail" required="required" data-error="Valid email is required.">
					</div>
					<div class="col-md-6">
					  <input formControlName="mobile" class="input_field" type="text" placeholder="Mobile" required="required" data-error="Mobile is required.">
				   </div>
				   <div class="col-md-6">
					   <select formControlName="category" class="input_field">
						     <option>Select Any Category</option>
							 <option *ngFor="let cate of category">{{cate}}</option>
					   </select>
					</div>
					<div class="col-md-12">
						<textarea formControlName="message" class="text_field contact_form_message" name="message" placeholder="Message" required="required" data-error="Please, write us a message."></textarea>
					</div> 
					<div class="col-md-12 text-left">
						<button id="" type="button" class="contact_send_btn btn" value="Submit">send message</button>
					</div>

				</form>

			</div>
		</div>
			
	</div>

	<div class="col-lg-4">
		<div class="about">
			<div class="contact_title">Follow Us</div>
			<p class="about_text">Stay on top of the Latest Offers and Updates.</p>

			<div class="contact_info">
				<ul class="menu_social">
						<li class="menu_social_item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
						<li class="menu_social_item"><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
						<li class="menu_social_item"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
						
						<li class="menu_social_item"><a href="#"><i class="fab fa-twitter"></i></a></li>
					</ul>
			</div>

		</div>
	</div>

</div>
</div>
</div>
<!-- Google Map -->


<section class="more-info">	
<div class="container">
<div class="row">
<div class="col-md-4 col-sm-12 text-center">
  <div class="contact-icon">
	  <img src="assets/images/location.png" alt="">
  </div>	
  <h4>Address</h4>
  <p>
	  B-38, First Floor,Institutional Area,<br/> Sector 1, Noida-201301
  </p>
</div>
<div class="col-md-4 col-sm-12 text-center">
  <div class="contact-icon">
	  <img src="assets/images/mail.png" alt="">
  </div>    
  <h4>Email</h4>
  <p>
	   <a href="mailto:info@dalmiabestprice.in">info@dalmiabestprice.in</a>
  </p>  			
</div>
<div class="col-md-4 col-sm-12 text-center">
  <div class="contact-icon">
	 <img src="assets/images/mobile.png" alt="">
  </div>   
  <h4>Telephone</h4>
  <p>
	  +91 120 499 5511,<br/>1800-11-2262
  </p>  			
</div>
</div>
</div>
</section>
