<div class="inner-banner" style="background-image:url(assets/images/about-banner.jpg)"></div>
<div class="inner-banner-content d-flex flex-column align-items-left justify-content-center">
    <div class="hero_slide_content text-left">
        <h1 data-animation-in="fadeInUp" data-animation-out="animate-out fadeOut">About  <br/>DalmiaBiz Education</h1>			

    </div>
</div>
<div class="breadcum">
        <div class="container">
            <ul>
                <li><a href="#">Home</a></li>
                <li>/</li>
                <li><a href="#">About Us</a></li>
            </ul>
        </div>
    </div>
 
<section class="welcome-home">
        <div class="container">
           <div class="row">
               <div class="col-md-7 col-sm-12">
                   <h2>Welcome To DalmiaBiz Education</h2>
                   <p>A Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod does tempor incididunt ut labore et.dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat quis nostrud exercitation ullamco.</p>
                   <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
               </div>
               <div class="col-md-5 col-sm-12">
                 <img src="assets/images/home-about-img.png" alt="" class="img-fluid">
               </div>
           </div>
        </div>
      </section>
   
       <section class="about-more-box">
           <div class="container">
   
               <div class="row">
                   <div class="col-lg-6">
                       <div class="about-img">
                           <img class="card-img-top" src="assets/images/our-visison.jpg" alt="">						
                       </div>
                   </div>
   
                   <div class="col-lg-6">
                       <div class="about-content">								
                           <h1 class="text-center">Our Vision</h1>
                           <div class="card-text">
                              <p>To Impart high standard, quality education through blend of virtual classroom, traditional values & Indian Culture to all poor & rich of the Country. To Impart high standard, quality education through blend of virtual classroom, traditional values & Indian Culture to all poor & rich of the Country.</p>
                           </div>
                       </div>
                   </div>
               </div>
   
   
                <div class="row">
   
                   <div class="col-lg-6">
                       <div class="about-content">								
                           <h1 class="text-center">Our Mission</h1>
                           <div class="card-text">
                              <p>Create a Parallel robust education system to existing education system for Indian community to fulfil the “EDUCATION FOR ALL” dream of the country. Create a Parallel robust education system to existing education system for Indian community to fulfil the “EDUCATION FOR ALL” dream of the country.</p>
                           </div>
                       </div>
                   </div>
   
                   <div class="col-lg-6">
                       <div class="about-img">
                           <img class="card-img-top" src="assets/images/mission-img.jpg" alt="">						
                       </div>
                   </div>
               </div>
   
   
           </div>		
       </section>  
   
  <app-testiomial></app-testiomial>