<div class="container custom-container">
    <div class="col-md-12">
      
      <h3 class="mb-3 text-center">Update Student</h3>
  
     <div class="form-group">
        <input type="text" [(ngModel)]="employeeData.title" class="form-control" placeholder="Title">
      </div>
  
      <div class="form-group">
        <input type="text" [(ngModel)]="employeeData.description" class="form-control" placeholder="Description">
      </div>
  
      <div class="form-group">
        <input type="text" [(ngModel)]="employeeData.meta_title" class="form-control" placeholder="meta_title">
      </div>
      <div class="form-group">
        <input type="text" [(ngModel)]="employeeData.meta_description" class="form-control" placeholder="Meta Description">
      </div>
      <div class="form-group">
        <input type="text" [(ngModel)]="employeeData.cstatus" class="form-control" placeholder="Customer Status">
      </div>
      <div class="form-group">
        <input type="text" [(ngModel)]="employeeData.created_at" class="form-control" placeholder="Created At">
      </div>
      <div class="form-group">
        <input type="text" [(ngModel)]="employeeData.updated_at" class="form-control" placeholder="Updated At">
      </div>




      
      <div class="form-group">
        <button class="btn btn-success btn-lg btn-block" (click)="updateEmployee()">Update Student</button>
      </div>
      
    </div>
  </div>