			
	<div class="inner-banner" style="background-image:url(assets/images/delivery-banner.jpg)"></div>
	<div class="inner-banner-content d-flex flex-column align-items-left justify-content-center">
		<div class="hero_slide_content text-left">
			<h1 data-animation-in="fadeInUp" data-animation-out="animate-out fadeOut">Course Delivery <br/>Mechanism</h1>			

		</div>
	</div>
<div class="breadcum">
	<div class="container">
		<ul>
			<li><a href="#">Home</a></li>
			<li>/</li>
			<li><a href="#">Our Verticals</a></li>
			<li>/</li>
			<li><a href="#">Course Delivery Mechanism</a></li>
			 
		</ul>
	</div>
</div>
	


<div class="container">

	<table class="table table-bordered">
		<tr>
			<th>UserId</th>
			<th>Id</th>
			<th>Title</th>
			<th>body</th>
		</tr>
		
	    <tr *ngFor='let item of user1 | paginate:{itemsPerPage:6, currentPage:pages}'>
			<td>{{item.userId}}</td>
			<td>{{item.id}}</td>
			<td>{{item.title}}</td>
			<td>{{item.body}}</td>			
		</tr>
	</table><br/>
	<div class="col-sm-12 text-center">
		<pagination-controls (pageChange)="pages=$event"></pagination-controls>
	</div>   
</div>
	

<section class="course-description">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-sm-12">
			    <div class="course-icon">
			    	<img src="assets/images/mach-icon1.png" alt="">
			    </div>
			    <div class="course-mach-details">
			    	<h2>Online Interactive Learning</h2>
			    	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. . </p>
			    </div>	 
			</div>
			<div class="col-md-6 col-sm-12">
			    <div class="course-icon">
			    	<img src="assets/images/mach-icon2.png" alt="">
			    </div>
			    <div class="course-mach-details">
			    	<h2>Online Interactive Learning</h2>
			    	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. . </p>
			    </div>	 
			</div>
			<div class="col-md-6 col-sm-12">
			    <div class="course-icon">
			    	<img src="assets/images/mach-icon3.png" alt="">
			    </div>
			    <div class="course-mach-details">
			    	<h2>Online Interactive Learning</h2>
			    	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. . </p>
			    </div>	 
			</div>
			<div class="col-md-6 col-sm-12">
			    <div class="course-icon">
			    	<img src="assets/images/mach-icon4.png" alt="">
			    </div>
			    <div class="course-mach-details">
			    	<h2>Online Interactive Learning 11</h2>
			    	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. . </p>
			    </div>	 
			</div>
	    </div>  

	    <div class="col-sm-12 addone-certificate">
	    	<h1>Add-ons (Certificate & Programs)</h1>
	    	<ul>
	    		<li>National level Programs</li>
	    		<li>International level Programs & Certifications</li>
	    	</ul>
	    </div>
	</div>
</section>
