<div class="menu_container menu_mm">

    <!-- Menu Close Button -->
    <div class="menu_close_container">
        <div class="menu_close"></div>
    </div>

    <!-- Menu Items -->
    <div class="menu_inner menu_mm">
        <div class="menu menu_mm">
            <!-- <ul class="menu_list menu_mm">
                <li class="menu_item menu_mm"><a routerLink="/Home">About Us</a></li>
                <li class="menu_item menu_mm"><a routerLink="/AboutUs">About Us</a></li>
                <li class="menu_item menu_mm"><a routerLink="/OurVerticals">Our Verticals</a></li>
                <li class="menu_item menu_mm"><a routerLink="/OurPromoter">Our Promoter</a></li>
                <li class="menu_item menu_mm"><a routerLink="/Career">Career</a></li>
                <li class="menu_item menu_mm"><a routerLink="/ContactUs">Contact Us</a></li>
            
            </ul> -->
                        

            <!-- Menu Social -->
            
            <div class="menu_social_container menu_mm">
                <ul class="menu_social menu_mm">
                    <li class="menu_social_item menu_mm"><a href="#"><i class="fab fa-pinterest"></i></a></li>
                    <li class="menu_social_item menu_mm"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                    <li class="menu_social_item menu_mm"><a href="#"><i class="fab fa-instagram"></i></a></li>
                    <li class="menu_social_item menu_mm"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li class="menu_social_item menu_mm"><a href="#"><i class="fab fa-twitter"></i></a></li>
                </ul>
            </div>

            <div class="menu_copyright menu_mm">dsgfbhgfb</div>
        </div>

    </div>

</div>
