<div class="container custom-container-2">
    <br/><br/><br/><br/><br/>
    <!-- Show it when there is no employee -->
    <div class="no-data text-center" *ngIf="Employee.length == 0">
      <p>There is no employee added yet!</p>
      <button class="btn btn-outline-primary" routerLink="/create-student">Add New Student</button>
    </div>
  
    <!-- Employees list table, it hides when there is no employee -->
    <div *ngIf="Employee.length !== 0">
      <h3 class="mb-3 text-center">Student List</h3>
  
      <div class="col-md-12">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">User Id</th>
              <th scope="col">Title</th>
              <th scope="col">Description</th>
              <th scope="col">Meta Title</th>
              <th scope="col">Meta Description</th>
              <th scope="col">Customer Status</th>
              <th scope="col">Created At</th>
              <th scope="col">Updated At</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let employee of Employee">
              <td>{{employee.id}}</td>
              <td>{{employee.title}}</td>
              <td>{{employee.description}}</td>
              <td>{{employee.meta_title}}</td>
              <td>{{employee.meta_description}}</td>
              <td>{{employee.cstatus}}</td>
              <td>{{employee.created_at}}</td>
              <td>{{employee.updated_at}}</td>           

              <td>
                <span class="edit btn" routerLink="/student-edit/{{employee.id}}">Edit</span> | 
                <span class="delete btn" (click)="deleteEmployee(employee.id)">Delete</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
  
    </div>
    <br/><br/>
  </div>