@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800|Roboto:400,500,700');

@import url('assets/css/bootstrap4/bootstrap.min.css');
@import url('assets/js/fontawesome-free-5.0.1/css/fontawesome-all.css');
@import url('assets/js/OwlCarousel2-2.2.1/owl.carousel.css');
@import url('assets/js/OwlCarousel2-2.2.1/animate.css');
@import url('assets/css/responsive.css');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800|Roboto:400,500,700');

/*--main-css--*/

/*--main-css--*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800|Roboto:400,500,700');

*{
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
body
{
	font-family: 'Montserrat', sans-serif;
	/*font-family: 'Roboto', sans-serif;*/
	font-size: 14px;
	font-weight: 400;
	background: #FFFFFF;
	color: #a5a5a5;
}
div
{
	display: block;
	position: relative;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
ul
{
	list-style: none;
	margin-bottom: 0px;
}
p
{
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	line-height: 2.29;
	font-weight: 400;
	color: #a5a5a5;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
p a
{
	display: inline;
	position: relative;
	color: inherit;
	border-bottom: solid 1px #ffa07f;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
a, a:hover, a:visited, a:active, a:link
{
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
p a:active
{
	position: relative;
	color: #FF6347;
}
p a:hover
{
	color: #FFFFFF;
	background: #ffa07f;
}
p a:hover::after
{
	opacity: 0.2;
}
::selection
{
	background: #FFD266;
	color: #C88E00;
}
p::selection
{
	background: #FFD266;
	color: #C88E00;
}
h1{font-size: 36px;}
h2{font-size: 22px;}
h3{font-size: 18px;}
h4{font-size: 14px;}
h5{font-size: 11px;}
h1, h2, h3, h4, h5, h6
{
	font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
h1::selection, 
h2::selection, 
h3::selection, 
h4::selection, 
h5::selection, 
h6::selection
{
	
}
::-webkit-input-placeholder
{
	font-size: 14px !important;
	font-weight: 500 !important;
	color: #a5a5a5 !important;
}
:-moz-placeholder /* older Firefox*/
{
	font-size: 14px !important;
	font-weight: 500 !important;
	color: #a5a5a5 !important;
}
::-moz-placeholder /* Firefox 19+ */ 
{
	font-size: 14px !important;
	font-weight: 500 !important;
	color: #a5a5a5 !important;
} 
:-ms-input-placeholder
{ 
	font-size: 14px !important;
	font-weight: 500 !important;
	color: #a5a5a5 !important;
}
::input-placeholder
{
	font-size: 14px !important;
	font-weight: 500 !important;
	color: #a5a5a5 !important;
}
.form-control
{
	color: #db5246;
}
section
{
	display: block;
	position: relative;
	box-sizing: border-box;
}
.clear
{
	clear: both;
}
.clearfix::before, .clearfix::after
{
	content: "";
	display: table;
}
.clearfix::after
{
	clear: both;
}
.clearfix
{
	zoom: 1;
}
.float_left
{
	float: left;
}
.float_right
{
	float: right;
}
.trans_200
{
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.trans_300
{
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}
.trans_400
{
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
.trans_500
{
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}
.fill_height
{
	height: 100%;
}
.super_container
{
	width: 100%;
	overflow: hidden;
}
.prlx_parent
{
	overflow: hidden;
}
.prlx
{
	height: 130% !important;
}
.nopadding
{
	padding: 0px !important;
}


.header
{
	position: fixed;
	top: 0;
	width: 100%;
	height: 81px;
	background: #FFFFFF;
	z-index: 10;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease; margin: 0 auto;
}

.header .navbar-dark .navbar-nav .active>.nav-link,
.header .navbar-dark .navbar-nav .nav-link
{color: #000 !important;}
header.header .navbar-nav {
    margin-top: 22px;
    margin-right: 30px;
}
.header.scrolled
{	
	top: 0;
}
.header.scrolled .header_content::before
{
	box-shadow: 0px 20px 49px rgba(0,0,0,0.17);
}
.header_content
{
	width: calc(100% - 279px);
	height: 100%;
}
.header_content::before
{
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	content: '';
	box-shadow: 0px 20px 49px rgba(0,0,0,0.67);
	z-index: -1;
}

/*********************************
3.1 Logo
*********************************/

.logo_container
{
	display: inline-block;
	padding-left: 76px;
}
.logo span
{
	font-family: 'Open Sans', sans-serif;
	font-size: 30px;
	font-weight: 900;
	color: #3a3a3a;
	vertical-align: middle;
	text-transform: uppercase;
	margin-left: 3px;
}

/*********************************
3.2 Main Nav
*********************************/

.main_nav_container
{
	display: inline-block;
	margin-left: auto;
}
.main_nav
{
	margin-top: 7px;
}
.main_nav_item
{
	display: inline-block;
	margin-right: 40px;
}
.main_nav_item:last-child
{
	margin-right: 0px;
}
.main_nav_item a
{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 700;
	color: #3a3a3a;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.main_nav_item a:hover
{
	color: #ffb606;
}

/*********************************
3.3 Header Side
*********************************/

.header_side
{
	width: 279px;
	height: 100%;
	background: #fff;
}
.header_side img
{
	width: 29px;
	height: 29px;
}
.header_side span
{
	display: block;
	position: relative;
	font-size: 18px;
	font-weight: 500;
	color: #FFFFFF;
	padding-left: 12px;
}

/*********************************
3.4 Hamburger
*********************************/

.hamburger_container
{
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	right: 20px;
	display: none;
	cursor: pointer;
}
.hamburger_container i
{
	font-size: 24px;
	padding: 10px;
	color: #3a3a3a;
}
.hamburger_container:hover i
{
	color: #ffb606;
}

/*********************************
4. Menu
*********************************/

.menu_container
{
	position: fixed;
	top: 0;
	right: -50vw;
	width: 50vw;
	height: 100vh;
	background: #FFFFFF;
	z-index: 12;
	-webkit-transition: all 0.6s ease;
	-moz-transition: all 0.6s ease;
	-ms-transition: all 0.6s ease;
	-o-transition: all 0.6s ease;
	transition: all 0.6s ease;
	visibility: hidden;
	opacity: 0;
}
.menu_container.active
{
	visibility: visible;
	opacity: 1;
	right: 0;
}
.menu
{
	position: absolute;
	top:150px;
	left: 0;
	padding-left: 15%;
}
.menu_list
{
	-webkit-transform: translateY(3.5rem);
	-moz-transform: translateY(3.5rem);
	-ms-transform: translateY(3.5rem);
	-o-transform: translateY(3.5rem);
	transform: translateY(3.5rem);
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 1000ms 600ms ease;
	opacity: 0;
}
.menu_container.active .menu_list
{
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-ms-transform: translateY(0px);
	-o-transform: translateY(0px);
	transform: translateY(0px);
	opacity: 1;
}
.menu_item
{
	margin-bottom: 9px;
}
.menu_item a
{
	font-family: 'Open Sans', sans-serif;
	font-size: 36px;
	font-weight: 700;
	color: #3a3a3a;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.menu_item a:hover
{
	color: #ffb606;
}
.menu_close_container
{
	position: absolute;
	top: 86px;
	right: 79px;
	width: 21px;
	height: 21px;
	cursor: pointer;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}
.menu_close
{
	top: 9px;
	width: 21px;
	height: 3px;
	background: #3a3a3a;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.menu_close::after
{
	display: block;
	position: absolute;
	top: -9px;
	left: 9px;
	content: '';
	width: 3px;
	height: 21px;
	background: #3a3a3a;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.menu_close_container:hover .menu_close,
.menu_close_container:hover .menu_close::after
{
	background: #ffb606;
}

/*********************************
4.1 Menu Social
*********************************/

.menu_social_container
{
	margin-top: 100px;
	-webkit-transform: translateY(3.5rem);
	-moz-transform: translateY(3.5rem);
	-ms-transform: translateY(3.5rem);
	-o-transform: translateY(3.5rem);
	transform: translateY(3.5rem);
	-webkit-transition: all 1000ms 1000ms ease;
	-moz-transition: all 1000ms 1000ms ease;
	-ms-transition: all 1000ms 1000ms ease;
	-o-transition: all 1000ms 1000ms ease;
	transition: all 1000ms 1000ms ease;
	opacity: 0;
	padding-left: 4px;
}
.menu_social_item
{
	display: inline-block;
	margin-right: 30px;
}
.menu_social_item a i
{
	color: #3a3a3a;
}
.menu_social_item a i:hover
{
	color: #ffb606;
}
.menu_container.active .menu_social_container
{
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-ms-transform: translateY(0px);
	-o-transform: translateY(0px);
	transform: translateY(0px);
	opacity: 1;
}

/*********************************
4.2 Menu copyright
*********************************/

.menu_copyright
{
	margin-top: 60px;
	-webkit-transform: translateY(3.5rem);
	-moz-transform: translateY(3.5rem);
	-ms-transform: translateY(3.5rem);
	-o-transform: translateY(3.5rem);
	transform: translateY(3.5rem);
	-webkit-transition: all 1000ms 1200ms ease;
	-moz-transition: all 1000ms 1200ms ease;
	-ms-transition: all 1000ms 1200ms ease;
	-o-transition: all 1000ms 1200ms ease;
	transition: all 1000ms 1200ms ease;
	opacity: 0;
	padding-left: 3px;
}
.menu_container.active .menu_copyright
{
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-ms-transform: translateY(0px);
	-o-transform: translateY(0px);
	transform: translateY(0px);
	opacity: 1;
}

.home
{
	width: 100%;
	height: 100vh;
}


.hero_slider_container
{
	width: 100%;
	height: 100%;
}
.hero_slide
{
	width: 100%;
	height: 100%;
}
.hero_slide_background
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.hero_slide_container
{
	    width: 50%;
    height: 100vh;
    margin-left: 13%;
}
.hero_slide_content
{
	max-width: 80%;
	-webkit-transform: translateY(15px);
	-moz-transform: translateY(15px);
	-ms-transform: translateY(15px);
	-o-transform: translateY(15px);
	transform: translateY(15px);
}
.hero_slide_content h1
{
	font-size: 65px;
	font-weight: bold;
	color: #FFFFFF;
}
.hero_slide_content p{color: #fff; font-size: 14px}
.hero_slide_content h1 span
{
	background: #ffb606;
	padding-left: 13px;
	padding-right: 13px;
	margin-left: -12px;
	margin-right: -12px;
}
.animated
{
	-webkit-animation-duration : 1s !important;
	animation-duration : 1s !important;
	-webkit-animation-delay : 500ms;
	animation-delay : 500ms;
}
.animate-out
{
	-webkit-animation-delay : 0ms;
	animation-delay : 0ms;
}

.hero_slider_nav
{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(calc(-50% + 30px));
	width: 58px;
	height: 58px;
	background: #FFFFFF;
	z-index: 9;
	cursor: pointer;
}
.hero_slider_nav:hover
{
	background: #ffb606;
}
.hero_slider_nav:hover span
{
	color: #FFFFFF;
}
.hero_slider_nav span
{
	display: block;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 700;
	color: #121212;
	line-height: 1;
}
.hero_slider_left
{
	left: 4.32%;
}
.hero_slider_right
{
	right: 4.32%;
}

.hero_box_col {
    padding: 0;
}
.hero_boxes
{
	width: 100%;
	height: 0px;
	z-index: 9;
	padding-top: 0px; display: inline-block;
}
.hero_boxes_inner
{
	position: relative;
	top: -72px;
	left: 0;
	width: 100%;
}
.hero_box
{
	width: 100%;
	background: #1a1a1a;
	padding-left: 50px;
	cursor: pointer;
}
.hero_box:hover
{
	background: #ffb606;
}
.hero_box img
{
	width: 62px;
	height: auto;
	margin-top: -6px;
}
.svg path
{
	fill: #ffb606;
}
.hero_box svg
{
	width: 62px;
	height: auto;
}
.hero_box:hover svg path
{
	fill: #FFFFFF;
}
.hero_box_content
{
	padding-left: 13px;
	padding-top: 11px;
	margin-top: -6px;
}
.hero_box_title
{
	font-size: 24px;
	font-weight: 500;
	color: #FFFFFF;
	margin-bottom: 7px;
}
.hero_box_link
{
	font-size: 12px;
	font-weight: 500;
	text-transform: uppercase;
	color: #FFFFFF;
	padding-left: 3px;
}
.hero_box_link:hover
{
	color: #1a1a1a;
}

.page_section
{
	padding-top: 50px;
	padding-bottom: 50px;
}

.section_title h1
{
	display: block;
	color: #1a1a1a;
	font-weight: 500;
	padding-top: 24px;
}
/*.section_title h1::before
{
	display: block;
	position: absolute;
	top: 0;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	width: 55px;
	height: 4px;
	content: '';
	background: #ffb606;
}*/


.button
{
	cursor: pointer;
}
.button:hover
{
	box-shadow: 0px 10px 20px rgba(0,0,0,0.2);
}
.button a
{
	font-size: 14px;
	line-height: 48px;
	font-weight: 700;
	text-transform: uppercase;
}
.button_1
{
	width: 202px;
	height: 48px;
}

/*********************************
9. Popular
*********************************/



.course_boxes
{
	margin-top: 50px;
}
.card
{
	display: block;
	background: #f8f9fb;
	border: none;
}
.card-img-top
{
	border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
.card-body
{
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 15px;
	padding-right: 15px;
}
.card-head {
    padding: 15px 0;
}
.card-title a
{
	font-size: 22px;
	font-weight: 500;
	color: #1a1a1a;
	line-height: 1.2;
}
.card-title a:hover
{
	color: #a5a5a5;
}
.card-text
{
	font-size: 14px;
	font-weight: 500;
	color: #a5a5a5;
	    padding-bottom: 10px;
}
.card-text p {
    line-height: 24px;
}
.price_box
{
	width: 100%;
	height: 67px;
	background: #eaebec;
	margin-top: 41px;
	padding-left: 35px;
}
.course_author_image
{
	width: 46px;
	height: 46px;
	border-radius: 50%;
	overflow: hidden;
}
.course_author_name
{
	font-size: 14px;
	font-weight: 500;
	color: #1a1a1a;
	padding-left: 20px;
	margin-top: 7px;
}
.course_author_name span
{
	color: #a5a5a5;
}
.course_price
{
	width: 67px;
	height: 67px;
	background: #ffb606;
	margin-left: auto;
}
.course_price span
{
	color: #FFFFFF;
	font-size: 18px;
	font-weight: 500;
	margin-top: 7px;
}

/*********************************
10. Register
*********************************/

.register
{
	width: 100%;
}
.register_section
{
	width: 100%;
	background: #ffb606;
	padding-top: 156px;
	padding-bottom: 161px;
}
.register_content
{
	width: 522px;
}
.register_title
{
	color: #FFFFFF;
	margin-bottom: 16px;
	line-height: 1.63;
}
.register_title:last-child
{
	margin-bottom: 0px;
}
.register_title	span
{
	color: #1a1a1a;
}
.register_text
{
	color: #FFFFFF;
	font-weight: 500;
	margin-top: 32px;
	padding-left: 25px;
	padding-right: 25px;
	margin-bottom: 0px;
}
.register_button
{
	background: #1a1a1a;
	margin-top: 65px;
}
.register_button a
{
	color: #FFFFFF;
}

/*********************************
11. Search
*********************************/

.search_section
{
	width: 100%;
	height: 100%;
	background: #ececec;
}
.search_content
{
	width: 522px;
}
.search_background
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	opacity: 0.23;
}
.search_title
{
	color: #1a1a1a;
}

/*********************************
11.1 Search Form
*********************************/

.search_form
{
	margin-top: 57px;
}

.search_submit_button
{
	width: 100%;
	height: 48px;
	background: #ffb606;
	color: #FFFFFF;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 700;
	margin-top: 28px;
	border: none;
	cursor: pointer;
}
.search_submit_button:hover
{
	box-shadow: 0px 10px 20px rgba(0,0,0,0.2);
}
.search_submit_button:focus
{
	outline: solid 2px #FFFFFF;
}

/*********************************
12. Services
*********************************/

.services
{
	padding-bottom: 76px;
}
.services_row
{
	margin-top: 65px;
}
.service_item
{
	margin-bottom: 41px;
}
.service_item h3
{
	font-family: 'Roboto', sans-serif;
	font-size: 22px;
	font-weight: 500;
	color: #1a1a1a;
	margin-bottom: 13px;
}
.service_item p
{
	font-size: 14px;
	font-weight: 500;
	color: #a5a5a5;
	max-width: 100%;
	margin-bottom: 0px;
}
.icon_container
{
	height: 41px;
	width: auto;
	margin-bottom: 30px;
}
.icon_container img
{
	height: 100%;
}

/*********************************
13. Testimonials
*********************************/

.testimonials
{
	width: 100%;
	background: #1a1a1a;
}
.testimonials_background_container
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.testimonials_background
{
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	opacity: 0.27;
}
.testimonials .section_title h1
{
	color: #FFFFFF;
}

.testimonials_item
{
	width: 100%;
	padding-bottom: 25px;
}
.quote
{
	font-size: 36px;
	color: #ffb606;
}
.testimonials_text
{
	color: #FFFFFF;
	margin-bottom: 0px;
}
.testimonial_user
{
	margin-top: 43px;
}
.testimonial_image
{
	width: 98px;
	height: 98px;
	border-radius: 50%;
	overflow: hidden;
}
.testimonial_image img
{
	width: 100%;
	height: auto;
}
.testimonial_name
{
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	color: #f6af03;
	margin-top: 21px;
}
.testimonial_title
{
	font-size: 14px;
	font-weight: 500;
	color: #000;
	margin-top: 6px;
}
.testimonials_slider .owl-dots
{
	display: -webkit-box !important;
	display: -moz-box !important;
	display: -ms-flexbox !important;
	display: -webkit-flex !important;
	display: flex !important;
	flex-direction: row !important;
	justify-content: center;
	align-items: center;
}
.testimonials_slider .owl-dot span
{
	width: 8px !important;
	height: 8px !important;
	border: solid 2px #FFFFFF;
	background: transparent !important;
}
.testimonials_slider .owl-dot.active span
{
	width: 16px !important;
	height: 16px !important;
	border: none;
	background: #ffb606 !important;
}

/*********************************
14. Events
*********************************/

.event_items
{
	margin-top: 68px;
}
.event_item
{
	margin-bottom: 56px;
}
.event_item:last-child
{
	margin-bottom: 0px;
}
.event_date
{
	width: 131px;
	height: 131px;
	border: solid 2px #ffb606;
	margin-bottom: 18px;
}
.event_day
{
	font-size: 48px;
	font-weight: 700;
	color: #ffb606;
	margin-bottom: 1px;
	line-height: 1;
}
.event_month
{
	font-size: 16px;
	font-weight: 700;
	color: #ffb606;
}
.event_name a
{
	font-size: 22px;
	font-weight: 500;
	color: #1a1a1a;
}
.event_name a:hover
{
	color: #ffb606;
}
.event_location
{
	font-size: 14px;
	font-weight: 500;
	color: #1a1a1a;
	margin-top: 2px;
}
.event_content p
{
	font-weight: 500;
	color: #a5a5a5;
	margin-top: 21px;
	margin-bottom: 13px;
}
.event_image
{

}
.event_image img
{
	width: 100%;
}

/*********************************
15. Footer
*********************************/

.footer
{
	width: 100%;
	background: #1a1a1a;
}
.footer .section_title h1
{
	color: #FFFFFF;
}

/*********************************
15.1 Newsletter
*********************************/


.newsletter_form_container
{
	width: 100%;
	margin-top: 25px;
}
.newsletter_email
{
	width: calc(100% - 164px);
	height: 42px;
	border: none;
	padding-left: 27px;
	font-weight: 500;
	color: #1a1a1a;
}
.newsletter_email:focus
{
	outline: solid 2px #ffb606;
}
.newsletter_submit_btn
{
	width: 164px;
	height: 42px;
	border: none;
	background: #082e49;
	color: #FFFFFF;
	font-size: 14px;
	font-weight: 500;
	cursor: pointer;
}
.newsletter_submit_btn:focus
{
	border: solid 2px #FFFFFF;
}

/*********************************
15.2 Footer Content
*********************************/

.footer_content 
{
	padding-top: 30px;
	padding-bottom: 50px;
}
.footer-copy {
    background-color: #0c0d0d;
}
.footer_content .logo_container
{
	padding-left: 0px;
}
.footer_content .logo span
{
	color: #FFFFFF;
}
.footer_about_text
{
	margin-top: 24px;
	margin-bottom: 0px;
	padding-right: 20px;
}
.footer_column_title
{
	font-size: 18px;
	font-weight: 500;
	color: #0a7fab;
	padding-top: 15px;
}
.footer_column_content
{
	margin-top: 32px;
}
.footer_list_item
{
	margin-bottom: 11px;
}
.footer_list_item a
{
	font-size: 14px;
	color: #a5a5a5;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.footer_list_item a:hover
{
	color: #ffb606;
}
.footer_contact_item
{
	font-size: 14px;
	font-weight: 400;
	color: #a5a5a5;
	margin-bottom: 22px;
}
.footer_contact_item:last-child
{
	margin-bottom: 0px;
}
.footer_contact_icon
{
	display: inline-block;
	width: 24px;
	height: 24px;
	vertical-align: middle;
	margin-right: 10px;
}
.footer_contact_icon img
{
	width: 100%;
}
ul.footer-right li a {
    color: #fff;
}

ul.footer-right li {
    float: left;
    margin: 0 5px;
}

.footer_social {
    margin-top: 25px;
}
.footer_bar
{
	padding-top: 19px;
	padding-bottom: 19px;
}
.footer_social .menu_social_item a i
{
	color: #FFFFFF;
}
.footer_social .menu_social_item a i:hover
{
	color: #ffb606;
}
.footer_social .menu_social_item:last-child
{
	margin-right: 0px;
}
.footer_col {
    border-right: 1px solid #111111;    padding-left: 35px;
}

.footer_col:last-child {
    border-right: none;
}
.ftco-services .services .media-body a {
    text-decoration: none;
    border-bottom: none;
}
.ftco-services .services .media-body a:hover {
    background: none;
    text-decoration: none;
}
.welcome-home {
    background-color: #f4f4f5;
    padding: 50px 0 0 0;
}
.welcome-home h2{color: #000;}
.videos {
	position: relative;
	background-color: black;
	height: 45vh;
	min-height: 25rem;
	width: 100%;
	overflow: hidden;
  }
  
  .videos video {
	position: absolute;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: 0;
	-ms-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
  }
  
  .videos .container {
	position: relative;
	z-index: 2;
  }
  
  .videos .overlay {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: black;
	opacity: 0.5;
	z-index: 1;
  }
  
  @media (pointer: coarse) and (hover: none) {
	.videos {
	  background: url('http://sandbox.thewikies.com/vfe-generator/images/big-buck-bunny_poster.jpg') black no-repeat center center scroll;
	}
	.videos video {
	  display: none;
	}
  }
  
  .videos .my-auto h2 {
	  color: #fff;
  }
.myaccounts {
    margin-top: -9px;
}
.myaccounts ul{padding:0;
    margin-top: 9px;}
.myaccounts ul li{float: left; list-style: none;text-transform: uppercase;}


.btn-head {
    background: #1a7192;
    padding: 0;
    color: #fff;
    height: 20px;
    font-size: 13px;
    width: 110px;
    border-radius: 18px;
}
.myaccounts ul li {
    float: left;
    list-style: none;
    text-transform: uppercase;
    border-right: 1px solid #1a7192	;
    line-height: 11px;
    margin: 0 1px;
    padding: 0 4px;
    font-size: 13px;
}
.myaccounts ul li:last-child{border-right:none;}
.myaccounts ul li a {
	color: #1a7192
}

.ftco-services {
    padding: 0 0 5em 0;
    margin-top: -185px;    z-index: 9;
}
.ftco-services .services .icon {
   line-height: 1.3;
    position: relative;
    width: 120px;
    height: 126px;
    margin: 0 auto;
    padding-top: 31px;
    padding-bottom: 8px;
}
.ftco-services .services .media-body {
    color: rgba(255, 255, 255, 0.8);
}

.ftco-services .services .media-body h3 {
    font-weight: 500;
    font-size: 22px;
    color: #fff;
}

.services p {
    font-size: 14px; color: #fff;
}

.bg-first {
    background: #4886ff;
}
.bg-second {
    background: #8cc152;
}
.bg-third {
    background: #ff6f6f;
}
.section_title h4 {
    font-size: 20px;
    color: #fff;
    margin-top: 25px;
}
.owl-carousel11 .owl-item img{display: block;
    margin-top: 31px;
	width: auto;}
	
.product_slider_left {
		left: 4.32%;
	}
.product_slider_right {
		right: 4.32%;
	}		
	.testimonials_slider .owl-item img {
		width: auto;
		margin-top: 20px;
	}
.home-service {margin-top:-250px;}
.ftco-services .owl-theme .owl-dots .owl-dot{display: none}

.inner-banner{min-height: 508px;
    background-attachment: fixed;
    background-position: 0px 63px;
    background-repeat: no-repeat;
    background-size: 100%;}
.inner-banner-content {
    position: absolute; top: 8%; z-index: 9; left: 14%;    width: 100%;
}
.breadcum {
	position: absolute;
    z-index: 9;
    margin-top: -50px;
    margin-bottom: 52px;
    color: #fff;
    left: 12%;
}
.breadcum ul li{float: left;}
.breadcum ul li a {
    color: #fff;
    margin: 0 6px;
}
.about-more-box {
    padding: 70px 0;
}
.about-content h1 {
    color: #3c3c3c;
    margin-top: 30px;
    font-size: 36px;
    font-weight: normal;
}
.about-more-box .row{margin-bottom: 50px;}
.about-testimonials .testimonials_text {
    color: #000;
}
.quote img {
    width: 37px !important;
}
.quote.last {
    float: right;
    display: inline-block;
}
.about-testimonials .testimonials_text {
    color: #000;
    margin-left: 39px;
    display: inline-block;
    text-align: left;
}
.about-testimonials .section_title h1 {
    margin-bottom: 35px;
}
.about-testimonials{padding-top:0;}
.navbar-dark .navbar-toggler{color: #000;}

.contact
{
	padding-top: 50px;
	padding-bottom: 50px;
}
.contact_title
{
	font-size: 36px;
	font-weight: 500;
	color: #1a1a1a;
}
.contact_form_container
{
	margin-top: 70px;
}
.input_field
{
	width: 100%;
	background: #f8f4f4;
	    border: solid 1px #ddd;
	margin-bottom: 24px;
	height: 42px;
	padding-left: 33px;
}
.input_field:focus
{
	outline: none !important;
	border-color: #ffb606;
}
.text_field
{
	width: 100%;
	height: 189px;
	background: #f8f4f4;
	border: solid 2px transparent;
	padding-left: 33px;
	margin-bottom: 24px;
}
.text_field:focus
{
	outline: none !important;
	border-color: #ffb606;
}
.contact_send_btn
{
	width: 172px;
    height: 58px;
	background: #1a7192;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	color: #FFFFFF;
	cursor: pointer;
	border: none;
}
.contact_send_btn:focus
{
	outline: solid 1px #ffb606;
	border: green !important;
}
.contact_form_container {
    margin-top: 10px;
}
.contact_form_container .col-md-6 {
    margin-bottom: 15px;
}
 .contact_info ul li{ margin-right: 10px;}  
.contact_info ul li a {
    background-color: #f3f3f3;
    width: 45px;
    height: 45px;
    display: block;
    border-radius: 50%;
    padding: 12px 0;
    text-align: center;
    border: 1px solid #ddd;
}
.more-info{background-color: #f8f8f8; padding: 50px 0; }
.more-info h4{font-size: 18px; text-transform: uppercase; margin:10px 0; color: #000;font-weight: 300}
.more-info .contact-icon {
    height: 80px;
}
.more-info .col-md-4 {
    border-right: 1px solid #ddd;
}
.more-info .col-md-4:last-child {
    border-right: none;
}
.more-info a, .more-info a:hover, .more-info a:focus {
    text-decoration: none; color:#000;
    border-bottom: none; background:none;
}
.more-info p {
    color: #000;
}


.course-description{padding: 50px 0;}
.course-mach-details {
    padding-left: 0;
    width: 75%;
    float: left;
}
.course-icon {
    width: 110px; height:110px;
    float: left;
}
.addone-certificate ul li{
	background: left url('./assets/images/checked-icon.png');
    background-repeat: no-repeat;
    padding-left: 47px;
    padding-bottom: 8px;
    padding-top: 10px;
    background-size: 28px;
}
.addone-certificate h1 {
    color: #1083ae;
    margin-top: 30px;
    margin-bottom: 20px;
}
.course-mach-details h2 {
    color: #000000;
    font-size: 28px;
}
.course-description .col-md-6.col-sm-12 {
    margin-bottom: 15px;
    margin-top: 15px;
}


/*.testimonials_slider_container .owl-item:nth-child(1) .services {
    background-color: #4886ff;
}*/
.testimonials_slider_container .owl-item:nth-child(2) .services {
    background-color: #8cc152;
}
.testimonials_slider_container .owl-item:nth-child(3) .services {
    background-color: #ff6f6f;
}

.testimonials_slider_container .owl-next,.testimonials_slider_container .owl-prev {
    display: flex; display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0%;
    transform: translateY(calc(-102px + -117px));
    width: 58px;
    height: 58px;
    z-index: 9; background-color: #fff; border-radius: 50%;
    cursor: pointer;
}
.testimonials_slider_container .owl-prev {
    left: 1.32%;
}
.testimonials_slider_container .owl-next {
    right: 1.32%;
}

.typeOfEcursion {
    padding: 15px 0px;
}
.excursionBox > .icon { text-align: center; position: relative; }
.excursionBox > .icon > .image { position: relative; z-index: 2; 
	box-shadow: 0px 2px 4px 2px #c8c5c5;margin: auto; width: 88px; 
	height: 88px; line-height: 110px;
	 border-radius: 50%; background: #fff; 
	 vertical-align: middle; }
.excursionBox > .icon:hover > .image { background: #095d7d; }
.excursionBox > .icon > .image > i { font-size: 36px;
 color: #000; }
.excursionBox > .icon:hover > .image > i { color: white; }
.excursionBox > .icon > .info { 
	margin-top: -24px; background: rgba(0, 0, 0, 0.04); border: 1px solid #e0e0e0; padding: 50px 0 10px 0; }
.excursionBox > .icon:hover > .info { border-color: #e0e0e0; color: white; }
.excursionBox > .icon > .info > h3.title {  font-size: 22px; color: #0a7ca7; }
.excursionBox > .icon > .info > p { font-size: 15px; color: #095d7d; line-height: 1.5em; margin: 20px;}
.excursionBox > .icon > .info > .more a {font-size: 12px; color: #222; line-height: 12px; text-transform: uppercase; text-decoration: none; }
.excursionBox > .icon:hover > .info > .more > a { color: #fff; padding: 6px 8px; background-color: #63B76C; }

.type-of-excur-title {padding: 50px 0;}
.excursionBox .icon .info {
    min-height: 200px;
    margin-bottom: 15px;     border-bottom: 4px solid #095d7d;
}
.excursionBox .icon .info:hover{border-bottom-color: #cd7a29;}

.edu-benifits{background-color: #e5f6ff; padding: 50px 0;}

.edu-benifits article {
    display: inline-block;
    width: 100%;
}
.edu-benifits hr {
    margin: 0 0 30px 0;
    border-bottom: 2px solid #e0ddd5;
    border-top: none;
}
.edu-benifits h1 {
    padding: 10px 0 50px 0;
    color: #000;
    font-weight: 400;
    font-size: 40px;
}
.edu-benifits h2{color: #cb692a; font-size: 20px;}
.why-comapny img {
    width: 100%;
}
.whycompany-detail { padding-top: 41px;}
.whycompany-list {
    padding: 0;
}
.whycompany-list ul li{background: left url('./assets/images/checked-icon.png');
    background-repeat: no-repeat;
    padding-left: 47px;
    padding-bottom: 8px;
    padding-top: 10px;
    background-size: 28px;
}
.why-comapny h1 {
    color: #0a7fac;
    font-size: 40px;
    margin-bottom: 25px;
    font-weight: normal;
}
@media(min-width: 768px){
	.whycompany-detail {padding-left: 13%;}

}

.modelSection .login-container {
	margin-top: 10%; border: 1px solid #CCD1D1;
	border-radius: 5px;	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	max-width: 50%;
  }
  
  .modelSection .ads {
	background-color: #A569BD; border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;	color: #fff; padding: 20px;
	text-align: center; background: url('./assets/images/bg-model.jpg');
	  border-radius: 20px 0px 0px 20px;    padding-top: 35px
  }
  
  
  .modelSection profile-img {text-align: center;}  
  .modelSection .profile-img img {border-radius: 50%;}
  
  @keyframes mymove {
	from {border: 1px solid #F2F3F4;}
	to {border: 8px solid #F2F3F4;}
  }
  
.modelSection .login-form {padding: 25px 40px 25px 25px;}
  
  
  @media (min-width: 576px){
      .modelSection .modal-dialog {max-width: 650px;}
  }
  .modelSection .modal-content{border: none;    border-radius: 20px 20px 20px 20px;}
  .modelSection .close-btn{ width: 30px; float: right; z-index: 99; 
  	position: absolute; right: 37px; top: 12	px;} 
  .modelSection p{color: #fff;line-height: 22px; font-size: 12px;text-align:justify}	  
  .modelSection .close-btn button  { background: transparent; color: #0a7fab; cursor: pointer;}
  .modelSection .close-btn button i{font-size: 22px;}
  .modelSection .profile-img ,.modelSection h3{text-align: left;
    font-size: 25px;
    color: #0a7ca7;
    padding: 30px 0 0 0;}
  .modelSection .modal.show .modal-dialog {
	  -webkit-transform: translate(0,30%); transform: translate(0%,30%);
  }
.modelSection .signup.show .modal-dialog{ -webkit-transform: translate(0,15%); transform: translate(0%,15%);}
.modelSection .ads h1 {
    font-size: 28px;
    font-weight: 200;
    margin-top: 25px;
    margin-bottom: 20px;
}
.modelSection .ads h1 span {
    font-weight: 500;
    font-size: 30px;
    width: 100%;
    display: block;
}
.submit-btn {
    background-color: #1784ac;
    width: 95px;
    height: 30px;
    border-radius: 8px;
    padding: 0 0;
}
.modelSection .form-group {
    margin-bottom: 25px;
}
.input-group-addon{ background-color: #efefef;color: #9d9d9d;}

.modelSection .input-group:hover .input-group-addon{ background-color: #0a7fab; color: #fff;}
.modelSection .form-control:focus{box-shadow: none;}
.modelSection .sign-form {
    padding: 25px 40px 25px 35px;
}

#ftco-nav{
    position: inherit;
    top: inherit;
    left: inherit;
    right: inherit;
    width: auto;
    height: auto;
    transition: all .3s ease-in-out;    margin-right: 40px;
}
#ftco-nav ul{
    text-align: left;
    padding: 0;
    margin: 0;
}
#ftco-nav ul li{
    padding: 15px 0;
}

#ftco-nav ul>li a{
    margin: 0 0 0 20px;
    font-size: 15px;
    color: #363232;
    display: block;
    font-weight: 400;
    background-color: transparent;
    border-radius: 0;
    padding: 0;
}
#ftco-nav ul>li .submenu{
    width: 250px;
    background-color: #f4f7fa;
    border: 1px solid #ebebeb;
    border-radius: 4px;
    position: absolute;
    top:45px;
    left: -4.2em;
    right: 0;
    visibility: hidden;
    opacity: 0;
    transition: all .3s ease-in-out;
    transform: rotateX(-90deg) rotateY(0);
    transform-origin: 0 0;
}
#ftco-nav ul>li .submenu.dropdown-menu{
    margin: 0;
    padding: 0;
}
#ftco-nav ul>li:hover .submenu{
    visibility: visible;
    opacity: 1;
    transform: rotateX(0) rotateY(0);
}
.dropdown:hover>.dropdown-menu {
    display: block;
}

.dropdown>.dropdown-toggle:active {
    pointer-events: none;
}

#ftco-nav ul>li .submenu>a {
    padding: 0;
    display: block;
}
#ftco-nav ul>li .submenu> a{
    padding: 10px 15px;
    margin: 0;
    color: #363232;
}
#ftco-nav ul>li .submenu> a:hover{
    background: #ebebeb;
}
#ftco-nav ul>li .submenu> a:active{
    background: inherit;
}
#ftco-nav ul>li .submenu:before,
#ftco-nav ul>li .submenu:after{
    content: '';
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border: 12px solid transparent;
    border-bottom: 12px solid #f4f7fa;
    top: -25px;
    left: calc(50% - 12px);
}
#ftco-nav ul li.dropdown .dropdown-toggle::after{
    position: relative;
    top: 2px;
}
