			
	<div class="inner-banner" style="background-image:url(assets/images/education-tour-banner.jpg)"></div>

    <div class="inner-banner-content d-flex flex-column align-items-left justify-content-center">
            <div class="hero_slide_content text-left">
                <h1 data-animation-in="fadeInUp" data-animation-out="animate-out fadeOut">Dalmia Educational Tours</h1>			
              
            </div>
        </div>
    
        
    <div class="breadcum">
        <div class="container">
            <ul>
                <li><a href="#">Home</a></li>
                <li>/</li>
                <li><a href="#">Educational Tours</a></li>
            </ul>
        </div>
    </div>
        
    
    
    <section class="typeOfEcursion">
        <div class="container">
             
            <div class="row">
                <div class="type-of-excur-title col-sm-12 text-center">
                    <img src="assets/images/Types of Excursions.png" alt="">
                </div>
    
                
             
                 <div class="col-xs-12 col-sm-3 col-lg-3">
                    <div class="excursionBox">							
                        <div class="icon">
                            <div class="image"><i class="fas fa-hand-holding-seedling"></i></div>
                            <div class="info">
                                <h3 class="title">Life Expedition</h3>
                                <p>(Life-Skill Based Program)</p>
                            </div>					   
                      </div> 
                    </div>				
                </div>
                    
                <div class="col-xs-12 col-sm-3 col-lg-3">
                    <div class="excursionBox">							
                        <div class="icon">
                            <div class="image"><i class="fa fa-flag"></i></div>
                            <div class="info">
                                <h3 class="title">Adventure Program</h3>
                                <p>(Fun-filled Adventure Program)</p>
                            </div>
                    </div> 
                </div>				
            </div>
             <div class="col-xs-12 col-sm-3 col-lg-3">
                    <div class="excursionBox">							
                        <div class="icon">
                            <div class="image"><i class="fa fa-flag"></i></div>
                            <div class="info">
                                <h3 class="title">Leadership Program</h3>
                                <p>(Using Outdoor activity & Celeb Talks to Inculcate Leadership Skills)</p>
                            </div>
                    </div> 
                </div>				
            </div>
             <div class="col-xs-12 col-sm-3 col-lg-3">
                    <div class="excursionBox">							
                        <div class="icon">
                            <div class="image"><i class="fa fa-flag"></i></div>
                            <div class="info">
                                <h3 class="title">Geographical Tours</h3>
                                <p>(Social and Cultural Activity Tour)</p>
                            </div>
                    </div> 
                </div>				
            </div>
             <div class="col-xs-12 col-sm-3 col-lg-3">
                    <div class="excursionBox">							
                        <div class="icon">
                            <div class="image"><i class="fa fa-flag"></i></div>
                            <div class="info">
                                <h3 class="title">Mythological Tours</h3>
                                <p>(Religious and Traditional Folklore)</p>
                            </div>
                    </div> 
                </div>				
            </div>
             <div class="col-xs-12 col-sm-3 col-lg-3">
                    <div class="excursionBox">							
                        <div class="icon">
                            <div class="image"><i class="fa fa-flag"></i></div>
                            <div class="info">
                                <h3 class="title">High School Tour</h3>
                                <p>(Universities and College Tours)</p>
                            </div>
                    </div> 
                </div>				
            </div>
    
            <div class="col-xs-12 col-sm-3 col-lg-3">
                    <div class="excursionBox">							
                        <div class="icon">
                            <div class="image"><i class="fa fa-flag"></i></div>
                            <div class="info">
                               <h3 class="title">Historical Tours</h3>
                               <p>(Archaeological Sites,Monuments and Others)</p>
                            </div>
                    </div> 
                </div>				
            </div>
            <div class="col-xs-12 col-sm-3 col-lg-3">
                    <div class="excursionBox">							
                        <div class="icon">
                            <div class="image"><i class="fa fa-flag"></i></div>
                            <div class="info">
                                <h3 class="title">Industrial Tour</h3>
                                <p>(Manufacturing Units of Different Sectors)</p>
                            </div>
                    </div> 
                </div>				
            </div>
            <div class="col-xs-12 col-sm-3 col-lg-3">
                    <div class="excursionBox">							
                        <div class="icon">
                            <div class="image"><i class="fa fa-flag"></i></div>
                            <div class="info">
                                <h3 class="title">Science Tours</h3>
                                <p>(Science Museums,Planetarium and Others)</p>
                            </div>
                    </div> 
                </div>				
            </div>
            <div class="col-xs-12 col-sm-3 col-lg-3">
                    <div class="excursionBox">							
                        <div class="icon">
                            <div class="image"><i class="fa fa-flag"></i></div>
                            <div class="info">
                                <h3 class="title">India to Bharat</h3>
                                <p>(Rural Sector Exposure)</p>
                            </div>
                    </div> 
                </div>				
            </div>
    
        </div>
      </div>
    </section>
    
    
    <section class="edu-benifits">
        <div class="container">
             <div class="col-xs-12 title-edu text-center">
                 <h1>Benefits of our Educational Excursions</h1>
             </div>
    
            <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                <article>	
                    <div class="course-icon">
                        <img src="assets/images/mach-icon1.png" alt="">
                    </div>
                    <div class="course-mach-details">
                        <h2>Interest Driven Approach</h2>
                        <p>Improves the overall learning & development of students.</p>
                    </div>
                   </article>
                    <hr/>	 
                </div>
                <div class="col-md-6 col-sm-12">
                 <article>	
                    <div class="course-icon">
                        <img src="assets/images/mach-icon2.png" alt="">
                    </div>
                    <div class="course-mach-details">
                        <h2>Acquire Fresh Perspective</h2>
                        <p>Open up endless possibilities to understand the world in an informal environment.</p>
                    </div>
                   </article> 
                    <hr/>	 
                </div>
                <div class="col-md-6 col-sm-12">
                  <article>
                    <div class="course-icon">
                        <img src="assets/images/mach-icon3.png" alt="">
                    </div>
                    <div class="course-mach-details">
                        <h2>Experiential Learning</h2>
                        <p>Making learning fun through enriched experience to make sure that students stay engaged and encouraged.</p>
                    </div>
                    </article>
                    <hr/>	 
                </div>
                <div class="col-md-6 col-sm-12">
                  <article>	
                    <div class="course-icon">
                        <img src="assets/images/mach-icon4.png" alt="">
                    </div>
                    <div class="course-mach-details">
                        <h2>Emphasis on Outcome</h2>
                        <p>All the activities are designed to get specific outcomes & meet certain objectives, needs & requirements.</p>
                    </div>	
                   </article> 
                    <hr/> 
                </div>
    
                <div class="col-md-6 col-sm-12">
                  <article>	
                    <div class="course-icon">
                        <img src="assets/images/mach-icon4.png" alt="">
                    </div>
                    <div class="course-mach-details">
                        <h2>Personality Development</h2>
                        <p>Our educational tours offer a perfect setup to help children in developing various life skills to enhance their personality.</p>
                    </div>	
                 </article>			   
                </div>
            </div>
        </div>
        </div>
    </section>
    
    <section class="why-comapny"> 
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-6 col-sm-12 col-md-6 whycompany-detail">
                     <div class="col-xs-12">
                          <h1>Why our Company?</h1>
                     </div>
                       <div class="whycompany-list col-sm-12">			    	
                        <ul>
                            <li>Fun and Learning Quotient with Specialized Education Tours</li>
                            <li>Affordable Tour Plans</li>
                            <li>Pan India Presence</li>
                            <li>Structured and Custom-made Trips</li>
                            <li>Experienced, Cultured and Affable Staff</li>
                            <li>Staff Travel (Inclusions)</li>
                            <li>High-Grade Safety and Medical Assistance as per Standards</li>
                            <li>Strategic Tour Plans – We offer a bouquet of Excursion for your Annual Tour Plans.</li>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-12 col-md-6">
                  <div class="row">	
                   <img src="assets/images/why-company.jpg" alt="" class="img-fluid">  
                  </div> 
                </div>
            </div> 
        </div>
    </section>	