<div class="home">

		<div class="hero_slider_container">
			<div class="hero_slider owl-carousel">
				
					<div class="hero_slide">
						<div class="hero_slide_background" style="background-image:url('assets/images/banner-1.jpg')"></div>
						<div class="hero_slide_container d-flex flex-column align-items-left justify-content-center">
							<div class="hero_slide_content text-left">
								<h1 data-animation-in="fadeInUp" data-animation-out="animate-out fadeOut">
									{{home.banner1Heading}}
								</h1>
								<p>{{home.banner1Description}}</p>

							</div>
						</div>
					</div>
						
					<!-- Hero Slide -->
					<div class="hero_slide">
						<div class="hero_slide_background" style="background-image:url(assets/images/bg_1.jpg)"></div>
						<div class="hero_slide_container d-flex flex-column align-items-left justify-content-center">
							<div class="hero_slide_content text-left">
								<h1 data-animation-in="fadeInUp" data-animation-out="animate-out fadeOut">
										{{home.banner2Heading}}</h1>
										<p>{{home.banner2Description}}</p>
							</div>
						</div>
					</div>				 

			</div>
   
			<!-- <div class="hero_slider_left hero_slider_nav trans_200"><span class="trans_200">prev</span></div>
			<div class="hero_slider_right hero_slider_nav trans_200"><span class="trans_200">next</span></div> -->
		</div> 

	</div>

	<div class="ftco-services page_section">			
			<div class="container">	
				<div class="row">
					<div class="col-lg-12">						
						<div class="testimonials_slider_container">
							<div class="owl-carousel owl-theme testimonials_slider">

								

								<div class="owl-item" *ngFor = "let serviceItem of home.serviceSlider">

								    <div class="services align-self-stretch pb-4 px-4 ftco-animate bg-first fadeInUp ftco-animated">
										<div class="media block-6 d-block text-center">
										  <div class="icon d-flex justify-content-center align-items-center">
											  
											 <img src="{{serviceItem.serviceImg1}}" alt="">
										  </div>
										  <div class="media-body p-2 mt-3">
											<h3 class="heading">{{serviceItem.serviceTitle}}</h3>
											<p>{{serviceItem.serviceDesc}}</p>
											 <p><a href="{{serviceItem.buttonLink}}">{{serviceItem.serviceBtn}} <i class="fa fa-arrow-right"></i></a></p>
										  </div>
										</div>      
									  </div>
								</div> 
	
	
							</div>
	
						</div>
					</div>
				</div>
				 <!-- <div class="product_slider_left hero_slider_nav trans_200"><span class="trans_200">prev</span></div>
				<div class="product_slider_right hero_slider_nav trans_200"><span class="trans_200">next</span></div>  -->
			</div>
		</div>
	
   	<section class="welcome-home">
		<div class="container">
			<div class="row">
				<div class="col-md-7 col-sm-12">
					<h2>{{home.homeAbout}}</h2>
					<p>{{home.HomeAboutDesc}}</p>
				</div>
				<div class="col-md-5 col-sm-12">
				<img src="{{home.AboutHomeImg}}" alt="" class="img-fluid">
				</div>
			</div>
		</div>
	</section>

	
<section class="videos">
  <div class="overlay"></div>
  <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
    <source src="https://clips.vorwaerts-gmbh.de/big_buck_bunny.mp4" type="video/mp4">
  </video>
  <div class="container h-100">
    <div class="d-flex text-left h-100">
      <div class="my-auto w-100 text-white">                
        <h1 class="display-3">Dark Poison</h1>
        <h2>Dark Poison</h2>
                <p>Now available on educational tours</p>
      </div>
    </div>
  </div>
</section>

	<div class="popular page_section">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="section_title text-center">
						<h1>Business Verticals & Business Model</h1>
					</div>
				</div>
			</div>

			<div class="row course_boxes">
				<div class="col-lg-4 course_box">
					<div class="card">
						<img class="card-img-top" src="assets/images/blog-img-1.jpg" alt="">
						<div class="card-body">
							<div class="row card-head">
							  <div class="col-md-6 text-left">
							  	<i class="far fa-clock"></i> <span>July 3, 2019</span>
							  </div>
							  <div class="col-md-6 text-right">
							  	<i class="far fa-comment"></i><span> 37 Comments</span>
							  </div>		 
							</div>
							<div class="card-title">
								<a href="javascript:;">Heading1</a>
							</div>
							<div class="card-text">
                               <p>Different students have different needs. In Dalmia Biz Education’s Program young masters get to self-assess their lives, and also create powerful visions for their future. Today, we are living in a stress ridden world and growing kids experience...</p>
							</div>
						</div>
					</div>
				</div>

				<!-- Popular Course Item -->
				<div class="col-lg-4 course_box">
					<div class="card">
						<img class="card-img-top" src="assets/images/blog-img-2.jpg" alt="">
						<div class="card-body">
							<div class="row card-head">
							  <div class="col-md-6 text-left">
							  	<i class="far fa-clock"></i> <span>July 3, 2019</span>
							  </div>
							  <div class="col-md-6 text-right">
							  	<i class="far fa-comment"></i><span> 37 Comments</span>
							  </div>		 
							</div>
							<div class="card-title"><a href="javascript:;">Heading2</a></div>
							<div class="card-text">
                               <p>Different students have different needs. In Dalmia Biz Education’s Program young masters get to self-assess their lives, and also create powerful visions for their future. Today, we are living in a stress ridden world and growing kids experience...</p>
							</div>
						</div>
					</div>
				</div>

				<!-- Popular Course Item -->
				<div class="col-lg-4 course_box">
					<div class="card">
						<img class="card-img-top" src="assets/images/blog-img-3.jpg" alt="">
						<div class="card-body">
							<div class="row card-head">
							  <div class="col-md-6 text-left">
							  	<i class="far fa-clock"></i> <span>July 3, 2019</span>
							  </div>
							  <div class="col-md-6 text-right">
							  	<i class="far fa-comment"></i><span> 37 Comments</span>
							  </div>		 
							</div>
							<div class="card-title"><a href="">Heading3</a></div>
							<div class="card-text">
                               <p>Different students have different needs. In Dalmia Biz Education’s Program young masters get to self-assess their lives, and also create powerful visions for their future. Today, we are living in a stress ridden world and growing kids experience...</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>		
	</div>